

		<!-- Content
		============================================= -->
		<section id="content">
			
			<div class="content-wrap">

				<div class="container clearfix">

					<div class="fslider bottommargin" data-animation="fade">
						<div class="flexslider">
							<div class="slider-wrap">
								<div class="slide">
									<a href="#">
										<img src="/assets/UMF-min.jpg" alt="Slide 4">
										
									</a>
									<!-- <div class="flex-caption slider-caption-bg">Ultra Responsive Layout</div> -->
								</div>
								<div class="slide">
									<a href="#">
										<img src="/assets/SWIPE-min.jpg" alt="Slide 2">
									</a>
								</div>
								<div class="slide">
									<a href="#">
										<img src="/assets/Leffe-min.png" alt="Slide 1">
									</a>
									<!-- <div class="flex-caption slider-caption-bg">Custom Google WebFonts</div> -->
								</div>
								<div class="slide">
									<a href="#">
										<img src="/assets/TIKTOK-min.jpg" alt="Slide 3">
									</a>
									<!-- <div class="flex-caption slider-caption-bg slider-caption-bottom-right">400+ HTML5 Templates Included</div> -->
								</div>
							</div>
						</div>
					</div>

					<h1 class="special-font main-font" id="recent">RECENT WORK</h1>
					<hr/>

					<div id="portfolio-ajax-wrap">
						<div id="portfolio-ajax-container"></div>
					</div>

					<div id="portfolio-ajax-loader"><img src="/assets/renew/preloader-dark.gif" alt="Preloader"></div>


					<div class="clear"></div>
					

					<!-- AAX -->
					<div id="portfolio-ajax-single" class="clearfix" style="display:none; margin-bottom: 50px;"> 

					    <div id="portfolio-ajax-title" style="position: relative;">
					        <h2 class="main-font" id="project_title"></h2>
					        <div id="portfolio-navigation">
					            <a href="#" id="close-portfolio"><i class="icon-line-cross"></i></a>
					        </div>
					    </div>

					    <div class="line line-sm topmargin-sm"></div>

					    <!-- Portfolio Single Content
					    ============================================= -->
					    <div class="col_two_fifth portfolio-single-content nobottommargin">

					        <!-- Portfolio Single - Description
					        ============================================= -->
					        <!-- Portfolio Single - Description End -->



					        <!-- Portfolio Single - Meta
					        ============================================= -->
					        <ul class="portfolio-meta bottommargin">
					            <li><span style="font-weight: bold; color: #bb2021">CLIENT</span> <span id="client" style="width: 180px; font-weight:normal"></span></li>
					            <li><span style="font-weight: bold; color: #bb2021">BRAND</span> <span id="brand" style="width: 180px; font-weight:normal"></span></li>
					            <li><span style="font-weight: bold; color: #bb2021">MEDIA</span> <span id="media" style="width: 180px; font-weight:normal"></span></li>
					            <li><span style="font-weight: bold; color: #bb2021">DIRECTOR</span> <span id="director" style="width: 180px; font-weight:normal"></span></li>
					        </ul>
					        <!-- Portfolio Single - Meta End -->

					        <!-- Portfolio Single - Share
					        ============================================= -->
					        <!-- Portfolio Single - Share End -->

					    </div><!-- .portfolio-single-content end -->

					    <!-- Portfolio Single Image
					    ============================================= -->
					    <div class="col_three_fifth portfolio-single-image nobottommargin col_last">
					        <iframe id="project_url" src="" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					    </div><!-- .portfolio-single-image end -->
						
					</div>
					<div class="line" style="margin: 40px 0;"></div>
					<!-- Portfolio Items
					============================================= -->
					<div id="portfolio" class="portfolio grid-container portfolio-3 portfolio-nomargin portfolio-ajax clearfix">
						<% @projects.each do |project|  %>
							<article id="portfolio-item-1" data-loader="/mains/ajax/<%= project.id %>" class="portfolio-item pf-media pf-icons">
								<div class="portfolio-image">
									<a href="portfolio-single.html">
										<img src="<%= project.thumb_url %>" alt="Open Imagination">
									</a>
									<div class="portfolio-overlay">
										<a href="#recent" class="center-icon-new ajax-icon" data-id="<%= project.id %>" style="float:center"><i class="icon-line-expand"></i></a>
									</div>
								</div>
								<div class="portfolio-desc">
									<h3 class="main-font"><a href="portfolio-single.html"><%= project.project_name %></a></h3>
									<span><%= project.media %></span>
								</div>
							</article>
						<% end %>
						

					</div><!-- #portfolio end -->
					<!-- <div class="promo promo-border bottommargin topmargin">
						<h3>백그라운드 이미지 요청</h3>
						<a href="#" class="button button-xlarge button-rounded">문의하기</a>
					</div> -->

				</div>

				

			</div>

		</section><!-- #content end -->

		
	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
    	$(".center-icon-new").click(function(){
    		$("#portfolio-ajax-single").show(500);
    		var target = $(this.getAttribute('href')),
    			project_id = $(this).attr("data-id");
		    if( target.length ) {
		        event.preventDefault();
		        $('html, body').stop().animate({
		            scrollTop: target.offset().top
		        }, 1000);
		    }
		    console.log(project_id);
		    $.ajax({
                data: {
                    project_id: project_id
                },
                method: "GET",
                url: "/mains/ajax",
                success: function(project){
                	$("#media").html(project.media);
                	$("#director").html(project.director);
                	$("#brand").html(project.brand_name);
                	$("#client").html(project.client);
                	$("#project_title").text(project.project_name);
                	$("#project_url").attr('src', 'https://www.youtube.com/embed/'+project.video_url )
                }
            });
    		
    	});

    	$("#close-portfolio").click(function(){
    		$("#portfolio-ajax-single").hide(500);
    	});

    });
  </script>
<% end %>
