
<section id="content">

	<div class="content-wrap">

		<div class="container clearfix">
			<h1 class="special-font main-font">PROJECTS</h1>
			<hr/>

			
			<!-- <ul id="portfolio-filter main-font" class="portfolio-filter style-2 clearfix" data-container="#portfolio">

				<li class="activeFilter"><a href="#" data-filter="*">Show All</a></li>
				<li><a href="#" data-filter=".pf-icons">Icons</a></li>
				<li><a href="#" data-filter=".pf-illustrations">Illustrations</a></li>
				<li><a href="#" data-filter=".pf-uielements">UI Elements</a></li>
				<li><a href="#" data-filter=".pf-media">Media</a></li>
				<li><a href="#" data-filter=".pf-graphics">Graphics</a></li>

			</ul> -->

			<!-- <div id="portfolio-shuffle" class="portfolio-shuffle" data-container="#portfolio">
				<i class="icon-random"></i>
			</div> -->

			<div class="clear"></div>

			<!-- Portfolio Items
			============================================= -->
			<div id="portfolio" class="portfolio grid-container portfolio-3 clearfix">
				<% @projects.each do |project| %>
				<article class="portfolio-item pf-media pf-icons">
					<div class="portfolio-image">
						<a href="portfolio-single.html">
							<img src="<%= project.thumb_url %>" alt="<%= project.project_name %> image">
						</a>
						<div class="portfolio-overlay">
							<div class="portfolio-desc">
								<h3><a href="/mains/project/<%= project.id %>"><%= project.project_name %></a></h3>
								<span><%= project.media %></span>
							</div>
							<a href=" ‘https://www.youtube.com/watch?v=<%= project.video_url %>" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
							<a href="/mains/project/<%= project.id %>" class="right-icon"><i class="icon-line-ellipsis"></i></a>
						</div>
					</div>
				</article>
				<% end %>

			</div><!-- #portfolio end -->
		</div>

	</div>

</section><!-- #content end -->


<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
    	$(".current").removeClass("current");
    	$(".nav-works").addClass("current");
    });
  </script>
<% end %>