<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>
    <meta charset="utf-8">
    <meta content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>긱차일드필름</title>
    <meta name="description" content="TVC광고, 디지털캠페인, 바이럴영상, 오프라인 스케치 영상제작 전문 프로덕션"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Geek Child Film"/>
    <meta property="og:description" content="TVC광고, 디지털캠페인, 바이럴영상, 오프라인 스케치 영상제작 전문 프로덕션"/>
    <meta property="og:image:width" content="640" /> 
    <meta property="og:image:height" content="442" />
    <meta name="robots" content="index, follow">
    <meta name="google-site-verification" content="gDf0ZU81JscyaJL6hwZjXFjSvzd2uyH0PiUePWqsvPM" />

    <!-- Include style per-controller - vendor plugins -->
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Noto+Sans|Oswald|Suez+One" rel="stylesheet">

    <%= csrf_meta_tags %>


</head>
<body class="stretched">
    <div id="wrapper" class="clearfix">
<!-- Main view  -->
        <header id="header" class="transparent-header" data-sticky-class="not-dark">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="/mains/index" class="standard-logo" data-dark-logo="/assets/renew/logo-dark.png"><img src="/assets/renew/logo-dark-mobile.png" alt="Canvas Logo"></a>
                        <a href="/mains/index" class="retina-logo" data-dark-logo="/assets/renew/logo-dark@2x.png"><img src="/assets/renew/logo-dark-mobile.png" alt="Canvas Logo"></a>
                    </div><!-- #logo end -->

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">

                        <ul>
                            <li class="current nav-home"><a href="/mains/index"><div class="main-font">Home</div></a>
                            </li>
                            <li class="nav-about"><a href="/mains/about"><div class="main-font">about us</div></a>
                            </li>
                            <li class="nav-works"><a href="/mains/projects"><div class="main-font">works</div></a>
                            </li>
                            <li class="nav-contacts"><a href="/mains/contacts"><div class="main-font">contacts</div></a>
                            </li>
                        </ul>

                    </nav><!-- #primary-menu end -->

                </div>

            </div>

        </header><!-- #header end -->

<%= yield %>
    
<!-- Footer
        ============================================= -->
        <footer id="footer" class="dark">

            <div class="container">

                <!-- Footer Widgets
                ============================================= -->
                <div class="footer-widgets-wrap clearfix">

                        <div class="col_one_third">

                            <div class="widget clearfix">

                                <h4 class="main-font">COMPANY</h4>
                                <h4 class="kor-font" style="font-weight:normal">
                                    주소 : 서울특별시 강남구 역삼로 17길 10 <br/> 부강빌딩 1층
                                </h4>

                            </div>

                        </div>

                        <div class="col_one_third">

                            <div class="widget widget_links clearfix">

                               <h4 class="main-font">TEL</h4>
                               <h4 class="kor-font" style="font-weight:normal">1688-3244</h4>

                            </div>

                        </div>

                        <div class="col_one_third col_last">

                            <div class="widget widget_links clearfix">

                               <h4 class="main-font">Mail</h4>
                               <h4 class="kor-font" style="font-weight:normal">support@geekchildfilm.com</h4>

                            </div>

                        </div>


                        <div class="col_one_third" style="margin-top: 30px;">
                        <hr>
                            <div class="row">

                                <div class="col-lg-6 clearfix bottommargin-sm">
                                    <a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#"><small style="display: block; margin-top: 3px;"><strong>페이스북</strong><br>Follow us</small></a>
                                </div>
                                <div class="col-lg-6 clearfix">
                                    <a href="#" class="social-icon si-dark si-colored si-youtube nobottommargin" style="margin-right: 10px;">
                                        <i class="icon-youtube"></i>
                                        <i class="icon-youtube"></i>
                                    </a>
                                    <a href="#"><small style="display: block; margin-top: 3px;"><strong>유튜브 채널</strong><br>Subscribe</small></a>
                                </div>

                            </div>

                    </div>
                </div>

            </div>

            <!-- Copyrights
            ============================================= -->
            <div id="copyrights">

                <div class="container clearfix">

                    <div class="col_half">
                        <p style="font-size: 5px; margin-bottom: 5px; margin-top: 3px;">사업자 : (주)고막컬쳐 |
                                    대표자 명 : 성주영 |
                                    사업자 등록번호 : 274-81-0050 <br/>
                                Copyrights &copy; 2018 All Rights Reserved</p>
                    </div>

                </div>

            </div><!-- #copyrights end -->

        </footer><!-- #footer end -->
    </div>

    <!-- Include javascript per-controller - vendor plugins -->
    <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

    <!-- Include javascript per-view -->
    <!-- Contact Us 에서 사용 -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoVnBxMZAlFPkaPI2xIX9mr5wbZxZmGco" type="text/javascript"></script>  -->

    <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
    <%= yield :javascript %>
    
</body>
</html>
